@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// hack fullPage
@include media-breakpoint-down(md) {
  #fp-nav {
    display: none;
  }
}

// custom classes
.btn-icon-rounded {
  position: relative;
  border-radius: 100%;
  height: $icon-size;
  width: $icon-size;

  >i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}